#hidden-center{
    visibility:hidden;
}

tr:hover #hidden-center{
    visibility:visible;
    color:grey;
}

tr #hidden-center a:hover{
  color:black;
}

#map_preview{
  background-image: url(image/gml.png);
  background-repeat: no-repeat;
  background-position: center;
}